<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help students, teachers, and researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p>
  The Software Carpentry and Data Carpentry organizations have a large number of tutorials written and 
  available on the web via a <a href="https://software-carpentry.org/license/">Creative Commons Attribution License</a>.  
  These lessons could be classified as "Open Educational Resources", and 
  we think this material can be relevant and useful to the undergraduate classroom.  
  Further, the best way to get to know the lessons is to work through them, in teams, in a dedicated setting.  
  Attendees should expect to gain proficiency with the shell, programming in python, 
  and implementing revision control with git, all in a supportive setting.  
  There will also be some discussion of how we can use these materials in undergraduate classrooms.   
</p>
<p>
  Please note, if you teach, study, or work outside of science you are still very welcome!  
  The practices presented at the workshop are quite general, and have led to the sister organizations of  
  Library Carpentry, <a href="https://librarycarpentry.github.io/">https://librarycarpentry.github.io/</a>, 
  and The Programming Historian <a href="http://programminghistorian.org/">http://programminghistorian.org/</a>.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
